/* 
 Layout b 
 display flex
 author: Viensay
 mobile first
*/

.container {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  div {
    background-color: grey;
    height: 30vh;
  }
}

.container {
  div:nth-child(1) {
    width: auto;
  }
  div {
    flex-basis: 25%;
  }
}

@media screen and (min-width: 900px) {
  .container {
    div {
      flex: 1 0 20%;
    }
  }
}

